.about-center {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  @apply rounded-md;
  @apply mt-8;
}

.about-slide-in {
  animation: about-slide-up 1s;
}

.about-slide-off {
  animation: about-slide-away 1s forwards;
}

@keyframes about-slide-away {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(150%);
    display: none;
  }
}

@keyframes about-slide-up {
  from {
    transform: translateY(70%);
  }
  to {
    transform: translateY(0%);
  }
}
