.embla {
  @apply m-auto;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: 50vh;
  width: 70vw;
}

.embla__slide__number {
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__slide {
  flex: 0 0 80%;
  @apply border;
  @apply rounded-md;
  @apply px-4;
  @apply mx-4;
}
