html {
  scroll-snap-type: y mandatory;
  /* body > div > section {
    scroll-snap-align: start;
  } */
  scroll-behavior: smooth;
}

body {
  @apply font-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 30s ease infinite;
  background-size: 800% 800%;
  /* height: 100vh; */
}

.spacer {
  width: 100%;
  height: 25vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.scroll-grid {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 100vh;
  place-content: start;
}

section {
  height: 100vh;
  display: flex;
  place-content: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

section > div {
  position: relative;
  max-height: 90vh;
  margin: 0.25rem;
  overflow: hidden;
}
