@keyframes slide-up {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(10%);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-35%);
  }
  to {
    transform: translateY(0%);
  }
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  animation: slide-down 1s;
}

.top {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  transform: translateY(10%);
  animation: slide-up 1s;
}

.button {
  @apply transition-transform;
  @apply duration-300;
  @apply hover:scale-110;
  display: inline-block;
}
